html,body
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	user-select: none;
}

#bigbrother
{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 10vw;	
	width: 100%;
}

.image-container
{
	width: 1000%;
	height: 100%;
	position: relative;
	left: 0;
	transition: left 2s;
	margin: 0;

}

/*
#box
{
	height: 100px;
	width: 100px;
	background-color: red;
	margin: 250px 500px 500px 500px;
	transition: height 2s, width 2s, transform 2s;
}
#box:hover
{
	height: 500px;
	width: 500px;
	transform: rotate(180deg);
}
*/
.container
{
	position: relative;
	width:50%;
	height: 70%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
	//box-shadow: 0px 0px 20px #888888;	
}



.images
{
	float: left;
	width: 10%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#num
{
	position: absolute;
	top: 0vw;
	right: 0%;
	padding: 0.5vw 1vw;
	margin-right: 0.5vw;
	color: white;
	height: 2vw;
	width: 3vw;
	font-size: 2vw;
	background-color: hsl(0,0%,15%);
	border-radius: 20%;
}

.buttons
{
	text-align: center;
	padding-top: 0.5vw;
}

.b
{
	display: inline-block;
	background-color: #bbb;
	width: 1vw;
	height: 1vw;
	margin: 0 0.1% 0 0;
	border-radius: 50%;
}

marquee
{
	font-size: 25px
}

/*
#num
{
	position: absolute;
	top: 0;
	right: 25%;
	padding: 5px 10px;
	margin-right: 2px;
	color: white;
	height: 18.5px;
	background-color: hsl(0,0%,15%);
	border-radius: 20%;
	//transition: opacity 1s linear;
}
#controls
{	
	position: absolute;
	width: 50%;
	text-align: center;
	left: 25%;
	//background-color: red;
}
*/
#a1 , #a2
{
	position: absolute;
	top: 13vw;
	font-size: 3vw;
	//background-color: black;
	color: white;
	padding: 1vw 1vw; 
}

#a1
{
	left: 0vw;
}

#a2
{
	right: 0vw;
}
a:hover
{
	cursor: pointer;
}
/*
a:active
{
	background-color: red;
}
span
{
	background-color: #bbb;
	border-radius: 50%;	
	font-size: 10px;
	padding: 0px 5px;
	margin: 2px;
}
span:hover
{
	cursor: pointer;
	//background-color: hsl(200,100%,50%);
	//text-shadow: 8px 8px 5px hsla(240,100%,50%,1);
}
*/