body
{
	background-color: black;
	
}

#counter
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 9;
}

#circle1
{
	height: 165px;
	width: 165px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;

}

#shadow
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: thin solid blue;
	box-shadow: 0 0 30px blue;
	z-index: 10;

}